  /* Estilos proporcionados */
  .titulos {
    font-family: "Helvetica Neue LT Std", Arial, sans-serif;
    font-weight: 900;
    color: #333333;
    font-size: 30px;
    line-height: 24px;
    text-align: center; /* Centra el texto */
    grid-column: 2; /* Coloca el título en la columna central del grid */
    margin: 0 auto; /* Centra el texto horizontalmente dentro de la columna */
    transform: translateX(-10%); /* Mueve el título ligeramente hacia la izquierda */
}

.titulos_encabezado {
    font-family: "Helvetica Neue LT Std", Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 25px;
}
/* Linea de encabezado*/
.gradient-bg-animation {
    width: 100%;
    bottom: 0; /* Posiciona la línea en la parte inferior del encabezado */
    position: absolute;
    height: 4px;
    border-radius: 2.5px;
    background: linear-gradient(26deg, #01448F 20%, #1E6BB8 40%, #3498DB 60%, #87CEFA 80%, #B0E0E6 100%);
    background-size: 300% 100%;
    animation: gradient 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    margin-top: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Contenedores */
.contenedor-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.contenedor_general {
    background-color: white;
padding: 1rem;
border-radius: 5px;
box-shadow: -4px 1px 16px rgba(0, 0, 0, 0.1);
width: 100%; /* Aseguramos que ocupe el 100% en pantallas pequeñas */
max-width: 85%; /* Limita el ancho máximo a 85% en pantallas grandes */
height: auto;
margin-top: 25px;
transition: transform 0.3s ease;
box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

 /* Botones */
.form-grupo  {
    margin-bottom: 35px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1.6rem;
}

.btn-guardar {
    background-color: #1E6BB8;
    gap: 8px;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-guardar:hover {
    background-color: #155a91;
    transform: scale(1.05);
}

.btn-borrar {
    background-color: #E43E3D;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-borrar:hover {
    background-color: #bf2f2e;
    transform: scale(1.05);
}

.icono  {
    width: 23px;
    height: 23px;
}
.icono-borrar  {
    width: 33px;
    height: 21px;
}
/* Contenedores para los campos de texto */
.label_nomina{
    font-family: "Helvetica Neue LT Std", Arial, sans-serif;
    font-weight: bold;
    color: #333333;
    font-size: 15px;
}
.form-group {
    margin-bottom: 0.75rem;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
}
.input_consulta {
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    border-bottom: 2px solid #1E6BB8;
    border-radius: 10px;
    width: 100%;
}
.form-group .icon-container2 {
    width: 40px;
    height: 40px;
    background-color: #c0cab452;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.form-group .icon2 {
    width: 23px;
    height: auto;
}
.header-container {
    position: fixed; /* Hace que el contenedor sea fijo */
    top: 0; /* Lo fija en la parte superior de la pantalla */
    left: 0; /* Lo fija al inicio del viewport horizontal */
    width: 100%; /* Asegura que el encabezado abarque todo el ancho de la pantalla */
    z-index: 1000; /* Coloca el encabezado por encima de otros elementos */
    background-color: #ffffff; /* Añade un fondo para que no se superponga con otros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una ligera sombra para destacarlo */
    display: grid;
    grid-template-columns: auto 1fr auto; /* Tres columnas: menú, título, espacio */
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
body {
padding-top: 70px; /* Ajusta este valor al alto del encabezado */
}
/* Logo de encabezado */
.logo {
    width: 230px; /* Tamaño del logo en pantallas grandes */
    height: auto;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    body.menu-open .contenedor_general {
        transform: translateX(250px);
    }

    .header-container {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
        text-align: center; /* Centra todo en el eje horizontal */
    }

    .menu-hamburguesa {
        justify-self: start; /* Alinea el menú al inicio en pantallas pequeñas */
    }

    .logo {
        width: 180px;
        order: -1;
    }

    .titulos {
        font-size: 20px;
        transform: translateX(-45%); /* Elimina el desplazamiento lateral en pantallas pequeñas */
    }

    .custom-margin,
    .customer-margin {
        margin-left: 0 !important;
    }

    .contenedor {
        margin-left: 14px !important; /* Forzamos a sobrescribir otros estilos */
        margin-right: 30px;
    }

    .contenedor_observaciones {
        margin-left: 14px !important;
        margin-right: 14px !important;
    }

    .image-preview {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centrar las imágenes */
    }

    .preview-contenedor {
        max-width: 100%; /* No limitar el ancho en pantallas pequeñas */
        padding: 10px;
        box-shadow: none;
    }

    .file-input-text {
        font-size: 14px; /* Reducir el tamaño del texto para pantallas más pequeñas */
        height: 40px; /* Reducir la altura para ajustarse mejor en pantallas pequeñas */
    }

    .video-preview video {
        max-width: 100%; /* Asegurar que el video no se desborde */
        height: 280px; /* Mantener la proporción */
        border-radius: 5px; /* Redondear los bordes del video */
    }

    .cuadro {
        margin-left: -15px !important;
        margin-right: 5px !important;
        width: 100%;
        /* padding: -200px; -> esto es inválido */
        padding: 0; /* Ajustado a 0, ya que valores negativos no son válidos en padding */
    }
}

/* Media query para pantallas grandes */
@media (min-width: 768px) {
    .custom-margin {
        margin-left: 40px;
    }
    .customer-margin {
        margin-left: 50px;
    }
}
.contenedor_observaciones{
    width: 100%;
    max-width: 1150px; /* Ancho máximo en pantallas grandes */


    margin-left: 40px;
}
/* Línea de separación */
.division {
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.form-control {
    padding: 0.5rem; /* Ajustado el padding */
    border-radius: 0 10px 10px 0;
    border: none; /* Quitado el borde */
    width: calc(100% - 36px);
    box-sizing: border-box;
    background-color: #F4F4F4; /* Fondo ajustado */
    color: #555555; /* Color del texto */
    height: 40px; /* Altura ajustada para que coincida con el icono */
    outline: none; /* Eliminar el resaltado al seleccionar */
}

.select {
    appearance: auto;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
}

textarea::placeholder {
    color: #6c757d; /* Color gris oscuro */
    font-style: italic;
}
/* Unique Container Styles */
.custom-container {
    max-width: 600px;
    margin: 50px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

/* Unique Legend Styles */
.custom-legend {
    font-size: 1.6rem;
    font-weight: 500;
    color: #444;
    margin-bottom: 15px;
    border-bottom: 3px solid #0066cc;
    padding-bottom: 5px;
}

/* Unique Form Group Styles */
.custom-form-group {
    margin-bottom: 20px;
}


/* Unique Textarea Styles */
.custom-textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f4f4f4;
    padding: 12px;
    font-size: 1rem;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.custom-textarea:focus {
    border-color: #0066cc;
}

/* Unique Canvas Styles */
.custom-canvas {
    width: 100%;
    height: 180px;
    border: 1px solid #bbb;
    border-radius: 6px;
    background-color: #fcfcfc;
    cursor: crosshair;
}

/* Unique Button Styles */
.custom-button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.custom-button:hover {
    background-color: #004a99;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 102, 204, 0.3);
}

/* Hidden Input */
.custom-hidden-input {
    display: none;
}
.info-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 50%;
    text-align: center;
}

.info-icon:hover .info-tooltip {
    display: block;
}

.info-tooltip {
    display: none;
    position: absolute;
    bottom: 120%;
    background-color: #D1ECF1;
    color: #000000;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1;
    font-weight: normal;
    padding: 15px;
    border: 1px solid #94ABAF;
    max-width: 500px;
    font-size: 12px;
}

.info-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 2%;
    border-width: 5px;
    border-style: solid;
    border-color: #94ABAF transparent transparent transparent;
}
.icon-container {
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F4F4F4;
    border-right: 1px solid #D1D1D1;
    border-radius: 10px 0 0 10px;

}

/* Elimina la flecha del navegador */
.select.no-arrow {
    -webkit-appearance: none; /* Para navegadores WebKit (Chrome, Safari) */
    -moz-appearance: none;    /* Para Firefox */
    appearance: none;         /* Estándar */

}
/* estilos imagenes */
.input-containerr {
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #F4F4F4;
}

.file-input-label {
    display: flex;
    align-items: center;
    padding: 0 15px; /* Espaciado interno uniforme */
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 100%; /* Alineación completa con el contenedor */
    gap: 15px; /* Espacio entre el ícono y el texto */
    background-color: transparent;
    align-items: center; /* Alinea verticalmente ícono y texto */
    justify-content: center; /* Centra contenido horizontalmente */
    border-radius: 10px;
    transition: all 0.3s ease;
}

.icon-containerr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-pin {
    width: 20px; /* Ajustar según tus necesidades */
    height: 25px;
    color: #888;
}


.file-input {
    display: none;
}
.file-input-text {
    padding: 0.5rem; /* Ajustado el padding */
    border-radius: 0 10px 10px 0;
    border: none;
    width: 100%; /* Aseguramos que ocupe todo el espacio disponible */
    box-sizing: border-box;
    background-color: #F4F4F4; /* Fondo ajustado */
    color: #555555; /* Color del texto */
    height: 45px; /* Altura ajustada para que coincida con el icono */
    outline: none; /* Eliminar el resaltado al seleccionar */
    overflow: hidden; /* Evita que el texto sobresalga */
    text-overflow: ellipsis; /* Texto largo se mostrará con '...' */
    display: flex; /* Usar flexbox */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}
.preview-container {
    display: flex;
flex-direction: column; /* Asegura que las imágenes se apilen verticalmente */
gap: 10px;
}
.video-preview video {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    max-width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease;
}
.video-preview video:hover {
    transform: scale(1.05); /* Efecto de hover para un diseño más moderno */
}
.image-preview {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Alinea las imágenes de forma ordenada */
}

.preview-contenedor {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #F9F9F9;
    max-width: 400px; /* Máximo ancho para una apariencia más ordenada */
    margin: 0 auto; /* Centrar el contenedor */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-preview-container {
    display: flex;
flex-wrap: wrap; /* Permite que las imágenes se ajusten si hay muchas */
justify-content: center;
gap: 10px;
overflow-x: auto; /* Habilita el scroll horizontal si hay muchas imágenes */
max-width: 100%;
padding: 10px 0;
box-sizing: border-box;

}


/* Estilo de la imagen */
.image-preview-container img {
    max-width: 100px;
height: auto;
margin: 5px;
border-radius: 8px; /* Bordes redondeados */
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Ampliación de la imagen al pasar el ratón */
.image-preview-container img:hover {
transform: scale(1.1); /* Escalar la imagen individual al pasar el ratón */

}

/* Ajustes en pantallas pequeñas */
@media screen and (max-width: 600px) {
.contenedor_general {
width: 100%; /* Se asegura que ocupe el 100% del contenedor padre */
}

.image-preview-container {
gap: 5px; /* Reduce el espacio entre imágenes */
justify-content: flex-start; /* Alinea las imágenes al principio */
}

.image-preview-container img {
max-width: 80px; /* Ajusta el tamaño de las imágenes en pantallas pequeñas */
}
}



.preview-title {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    text-align: center;
}
        .upload-message {
            margin-top: 10px;
            color: green;
            color: #5cb85c; /* Verde para mensajes normales */
            font-weight: bold;
            /* Color de éxito */
        }

        .upload-message.error {
            color: #d9534f; /* Rojo para errores */
            font-weight: bold;
            /* Color de error */
        }


.remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.7);
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}
.cuadro {
    display: block;
    text-align: left; /* Asegura que los textos estén alineados a la izquierda */
    margin: 0; /* Elimina cualquier margen que pueda centrar el contenido */
    padding-left: 35px; /* Asegura que no haya padding a la izquierda */
    width: 90%; /* Asegura que los elementos ocupen todo el ancho disponible */
}
/* Estilos para el menú hamburguesa */
.menu-hamburguesa {
position: relative;
z-index: 10000;
grid-column: 1; /* Coloca el menú en la primera columna */
}

.menu-hamburguesa button {
background-color: #ffffff;

border: none;
padding: 10px 15px;
cursor: pointer;
z-index: 10001;
}

.menu-sidebar {
position: fixed;
top: 0;
left: -250px;
width: 250px;
height: 100%;
background: #F4F4F4;
color: #fff;

transition: left 0.3s ease;
box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
z-index: 10001;
display: flex;
flex-direction: column;
}

.menu-sidebar.open {
left: 0;
}
/* Overlay (fondo oscuro al abrir menú) */
.menu-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: none;
z-index: 10000;
}

.menu-overlay.active {
display: block;
}
/* Estilos de los ítems del menú */
.menu-items {
max-height: calc(100vh - 50px); /* Ajustar según el espacio del logo y bienvenida */
overflow-y: auto; /* Permite el desplazamiento solo para el contenido debajo */
padding: 10px;
list-style: none;
padding: 0;
margin: 0;
flex-grow: 1;
}
/* Ocultar la barra de desplazamiento en navegadores basados en WebKit (Chrome, Safari) */
.menu-items::-webkit-scrollbar {
display: none;
}

/* En Firefox, usar -moz para ocultar la barra de desplazamiento */
.menu-items {
scrollbar-width: none; /* Ocultar barra en Firefox */
}

.menu-items li {
padding: 15px 20px;
border-bottom: 1px solid #CCCCCC;
transition: background 0.3s ease, transform 0.3s ease;
position: relative;
}


.menu-items li a {
text-decoration: none;
color: #333;
display: flex;
align-items: center;
width: 210px;
height: 35px;
transition: color 0.3s ease;
position: relative;
overflow: hidden;
}

.menu-items li i {
margin-right: 10px;
font-size: 18px;
transition: transform 0.3s ease, color 0.3s ease;
}

/* Subrayado animado */
.menu-items li a::after {
content: "";
position: absolute;
bottom: -2px;
left: 0;
width: 100%;
height: 2px;
background-color: #007bff;
transform: scaleX(0);
transform-origin: left;
transition: transform 0.3s ease-in-out;
}

.menu-items li a:hover::after {
transform: scaleX(1);
}

.menu-items li:hover {
background: rgba(0, 123, 255, 0.1);
transform: scale(1.02);
border-radius: 5px;
}

.menu-items li a:hover {
color: #01579b;
}

.menu-items li a:hover i {
color: #007bff;
transform: rotate(10deg);
}


/* Imagen del icono */
.menu-icon-image {
width: 34px; /* Tamaño del icono */
height: 34px;
margin-right: 5px; /* Espacio entre el icono y el texto */
object-fit: contain;
}
.menu-icon-imagen {
width: 25px; /* Tamaño del icono */
height: 25px;
margin-right: 11px; /* Espacio entre el icono y el texto */
margin-left: 3px;
object-fit: contain;
}

.logout-button {
border: none;
color: black;
display: flex;
align-items: center;
cursor: pointer;
width: 100%;
text-align: left;
padding: 0;
}

.logout-button i {
margin-right: 10px;
}
.menu-logo {
width: 220px;
height: auto;
}
/* Logo del menú */
.menu-header {
padding: 20px;
background: #F4F4F4;
text-align: center;
}
.menu-hamburguesa .menu-icon img {
width: 34px;
height: 34px;
}

/* Sección de bienvenida */
.welcome-section {
padding: 15px 20px;
background: #7cb8eb;
border-bottom: 1px solid #444;
color: black;
font-size: 14px;
}

.welcome-section .user-name {
font-weight: bold;
color: #33373b;
}

/* Estilo para ocultar el contenido al moverlo */





.modal-title {
margin: 0;
}

.boton_cerrar {
background: none;
border: none;
font-size: 1.5rem;
color: white;
cursor: pointer;
}

.modal-body {
padding: 20px;
font-size: 1rem;
color: #333;
}

.text-center {
text-align: center;
}

.logo-modal {
width: 80px;
height: 80px;
margin: 10px auto;
border-radius: 50%;
background-color: #f1f1f1;
display: block;
object-fit: cover;
}

.modal-footer {
padding: 15px;
background-color: #f9f9f9;
border-top: 1px solid #e5e5e5;
display: flex;
justify-content: center;
gap: 15px;
}

.boton_actualizar {
padding: 10px 20px;
font-size: 1rem;
font-weight: bold;
border: none;
border-radius: 5px;
cursor: pointer;
display: flex;
align-items: center;
gap: 10px;
transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton_actualizar img {
width: 20px;
height: 20px;
}

.boton_actualizar:hover {
background-color: #164d84;
transform: translateY(-3px);
}

.btn-primary {
background-color: #1e6bb8;
color: white;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-weight: bold;
transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
background-color: #164d84;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
background-color: #f1f1f1;
color: #333;
border: 1px solid #ddd;
border-radius: 5px;
padding: 10px 20px;
font-weight: bold;
transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
background-color: #ddd;
color: #000;
}

/* Responsive Adjustments */
@media (max-width: 576px) {
.modal-content {
padding: 15px;
}

.modal-header {
font-size: 1.2rem;
padding: 15px;
}

.modal-footer {
flex-direction: column;
gap: 10px;
}

.boton_actualizar,
.btn-primary,
.btn-secondary {
width: 100%;
}
}
.welcome-link {
    display: block;
    text-decoration: none;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #7CB8EB;
    transition: all 0.3s ease, transform 0.3s ease; /* Agregamos transición para transform */
}

.welcome-link:hover {
    color: black;
    background-color: #7CB8EB;
    border: 1px solid #7CB8EB;
    text-decoration: none;
    transform: scale(0.9); /* Aumenta el tamaño en un 10% */
}
@media (max-width: 375px) {
.titulos {
font-size: 20px;
transform: translateX(-30%); /* Elimina el desplazamiento lateral en pantallas pequeñas */
}
}
.preview-containerr {
    padding: 10px; /* Reducir el padding en pantallas pequeñas */
    border-radius: 5px; /* Redondear más los bordes en pantallas pequeñas */
    max-width: 100%; /* Asegurar que el contenedor ocupe todo el ancho */
    }
    .preview-containerr {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #F9F9F9;
    max-width: 320px; /* Máximo ancho para una apariencia más ordenada */
    margin: 0 auto; /* Centrar el contenedor */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.submenu {
display: none;
list-style: none;
padding-left: 20px;
}

.submenu li {
padding: 5px 0;
}
